<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b429851dc5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="main-content" id="main-content">
    <nav>
        <ul class="sidebar">
            <li class="close-button", onclick=hideSidebar()><i class="fa-solid fa-xmark"></i></li>
            <li><a href="{{ url_for('index') }}">Yarn Compendium</a></li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}#info-section">Info</a></li>
            <li><a href="{{ url_for('pricecomparison_tohtml') }}">Price Comparison</a></li>
            <li><a href="{{ url_for('colourMatch_tohtml') }}">Colour Match</a></li>
        </ul>
        <ul>
            <li><a href="#">Yarn Compendium</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('index') }}#info-section">Info</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('pricecomparison_tohtml') }}">Price Comparison</a></li>
            <li class="hideOnMobile"><a href="{{ url_for('colourMatch_tohtml') }}">Colour Match</a></li>
            <li class="menu-button" onclick=showSidebar()><i class="fa-solid fa-bars"></i></li>
        </ul>
    </nav>
    </div>
    {% block body %}{% endblock %}
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>
</html>