{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>comparison table</h1>

<input type="text" id="searchInput" placeholder="Search..." style="margin-bottom: 10px; padding: 8px; width: 100%; max-width: 300px; display: block;">
<table>
    <thead>
      <tr>
        {% for col in column_names %}
        <th>
          {{col}}
         
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

</table>

<!-- https://stackoverflow.com/questions/53686579/how-to-implement-a-javascript-search-filter-function-in-a-table -->
<script>
  document.getElementById("searchInput").addEventListener("input", function () {
      let filter = this.value.toLowerCase();
      let rows = document.querySelectorAll("table tbody tr");

      rows.forEach(row => {
          let match = Array.from(row.cells).some(cell =>
              cell.textContent.toLowerCase().includes(filter)
          );
          row.style.display = match || filter === "" ? "" : "none";
      });
  });
</script>

{% endblock %}